name: Self-Hosted Runner Workflow

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    # Use your self-hosted runner
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Print Hello
        run: echo "Running on self-hosted runner"

      - name: Show username
        run: Write-Output "Current user:$env:USERNAME"
        shell: pwsh
