name: Self-Hosted Runner Workflow

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: [self-hosted, windows]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Print Hello
        run: Write-Output "Running on self-hosted Windows runner"
        shell: pwsh
